<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">



<th:block th:fragment="sidebar">


    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <ul><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>

                </ul>
                <li class="nav-label">Options</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">Enregistrement</span></a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/ajouter_hotel}">Hôtels</a></li>
                        <li><a th:href="@{/ajouteutilisateurform}">Utilisateur</a></li>

                    </ul>
                </li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Liste d'informations</span></a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/liste_hotel}">Liste des hôtels</a></li>
                        <li><a th:href="@{/liste_Utilisateur}">Liste des utilisateurs</a></li>

                    </ul>
                </li>
                <li class="nav-label">Reservation</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-world-2"></i><span class="nav-text">Chambres d'hôtels</span></a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/page_ajout_reservation}">Reserver chambre hôtel</a></li>

                    </ul>
                </li>

                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-plug"></i><span class="nav-text">Salle de céremonies</span></a>
                    <ul aria-expanded="false">
                        <li><a th:href="@{/page_reservation_salle_de_fete}">Salle de fête</a></li>
                        <li><a th:href="@{/page_reservation_salle_de_conference}">Salle de conférence</a></li>

                    </ul>
                </li>
            </ul>
        </div>


    </div>



</th:block>




</html>